In [291]:
import pandas as pd
import numpy as np

df = pd.read_csv('./사교육비07-18.csv', encoding='utf-8', index_col=0)
dft = df.copy().T
dft

특성별       특성별      전체
2007  전체 (억원)  200400
2008  전체 (억원)  209095
2009  전체 (억원)  216259
2010  전체 (억원)  208718
2011  전체 (억원)  201266
2012  전체 (억원)  190395
2013  전체 (억원)  185960
2014  전체 (억원)  182297
2015  전체 (억원)  178346
2016  전체 (억원)  180606
2017  전체 (억원)  186703
2018  전체 (억원)  194852

In [292]:
dft = dft.drop('특성별', axis=1)

In [302]:
del dft.columns.name

In [295]:
dft.rename(columns = {'전체':'사교육비'}, inplace=True)

In [320]:
dft.sort_index(ascending=False, inplace=True)

In [321]:
dft.to_csv('사교육비.csv', index=True)

In [324]:
data = pd.read_csv('사교육비.csv', index_col=0)

In [325]:
data

        사교육비
2018  194852
2017  186703
2016  180606
2015  178346
2014  182297
2013  185960
2012  190395
2011  201266
2010  208718
2009  216259
2008  209095
2007  200400

In [453]:
data2 = pd.read_csv('주요_인구지표_00-67.csv', encoding='utf-8')

In [454]:
del data2.index.name

In [455]:
data2.columns

Index(['가정별', '인구구조,부양비별', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032',
       '2033', '2034', '2035', '2036', '2037', '2038', '2039', '2040', '2041',
       '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049', '2050',
       '2051', '2052', '2053', '2054', '2055', '2056', '2057', '2058', '2059',
       '2060', '2061', '2062', '2063', '2064', '2065', '2066', '2067'],
      dtype='object')

In [456]:
data2.drop('가정별', axis=1, inplace=True)

In [457]:
data2.columns

Index(['인구구조,부양비별', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033',
       '2034', '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042',
       '2043', '2044', '2045', '2046', '2047', '2048', '2049', '2050', '2051',
       '2052', '2053', '2054', '2055', '2056', '2057', '2058', '2059', '2060',
       '2061', '2062', '2063', '2064', '2065', '2066', '2067'],
      dtype='object')

In [458]:
df = data2.iloc[0,1:20].astype('float')

In [460]:
df

2000    47008111.0
2001    47370164.0
2002    47644736.0
2003    47892330.0
2004    48082519.0
2005    48184561.0
2006    48438292.0
2007    48683638.0
2008    49054708.0
2009    49307835.0
2010    49554112.0
2011    49936638.0
2012    50199853.0
2013    50428893.0
2014    50746659.0
2015    51014947.0
2016    51217803.0
2017    51361911.0
2018    51606633.0
Name: 0, dtype: float64

In [459]:
type(df)

pandas.core.series.Series

In [450]:
frame = {'인구':df}

In [461]:
frame

{'인구': 2000    47008111.0
 2001    47370164.0
 2002    47644736.0
 2003    47892330.0
 2004    48082519.0
 2005    48184561.0
 2006    48438292.0
 2007    48683638.0
 2008    49054708.0
 2009    49307835.0
 2010    49554112.0
 2011    49936638.0
 2012    50199853.0
 2013    50428893.0
 2014    50746659.0
 2015    51014947.0
 2016    51217803.0
 2017    51361911.0
 2018    51606633.0
 Name: 0, dtype: float64}

In [451]:
data = pd.DataFrame(frame)

In [462]:
data.sort_index(ascending=False, inplace=True)

In [464]:
data.to_csv('인구.csv',index=True)

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('인구.csv', index_col=0)

In [3]:
data

              인구
2018  51606633.0
2017  51361911.0
2016  51217803.0
2015  51014947.0
2014  50746659.0
2013  50428893.0
2012  50199853.0
2011  49936638.0
2010  49554112.0
2009  49307835.0
2008  49054708.0
2007  48683638.0
2006  48438292.0
2005  48184561.0
2004  48082519.0
2003  47892330.0
2002  47644736.0
2001  47370164.0
2000  47008111.0