In [131]:
]import pandas as pd

In [ ]:
# 파일1 ( 다문화출생아수)

In [147]:
multi_cul=pd.read_csv("전국_다문화_출생_KOSIS.csv",encoding='utf-8',index_col = 0)
multi_cul=multi_cul.T

In [148]:
del multi_cul["시군구별"]
del multi_cul.columns.name

In [150]:
multi_cul.rename(columns={'전국':'다문화출생아수'},inplace=True)

In [153]:
multi_cul.to_csv('다문화출생인구.csv',index=True,header=True,encoding='utf-8')

In [165]:
# 파일2 ( 지니계수 )

In [303]:
GINI=pd.read_csv("지니계수_ITSTAT.csv",encoding='utf-8',index_col=0)

In [304]:
GINI=GINI["시장소득":'처분가능소득']
del GINI['Unnamed: 9']
GINI=GINI.T
del GINI['처분가능소득']

In [305]:
GINI.index=range(2011,2019)
GINI.sort_index(ascending=False, inplace=True)

In [306]:
GINI.rename(columns={'시장소득':'지니계수'},inplace=True)

In [307]:
GINI.to_csv("지니계수.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일3 ( 문화여가지출률 )

In [357]:
lei=pd.read_csv("문화여가지출률_국가지표체계.csv",encoding='utf-8',index_col=0)

In [358]:
lei=lei.T
lei.sort_index(ascending=False,inplace=True)

In [359]:
value=lei['문화여가지출률(%)']  # 뽑아와서 딕셔너리로 만들어서 데이터프레임에 집어넣는다 ( 시리즈로 바껴서 번거로운절차)
value={'문화여가지출률':value}
leisure=pd.DataFrame(value)

In [360]:
leisure.to_csv("문화여가지출률.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일4 ( e러닝 시장규모)

In [416]:
e_learning=pd.read_csv("e러닝시장규모_ITSTAT.csv", index_col=0,encoding='utf-8')

In [417]:
del e_learning['Unnamed: 17']

In [418]:
e_learning=e_learning.T

In [419]:
data=e_learning['e-러닝 시장규모']
data={'e러닝시장규모':data}
e_learn=pd.DataFrame(data)
e_learn.index=range(2003,2019)

In [420]:
e_learn.sort_index(ascending=False,inplace=True)

In [422]:
e_learn.to_csv("e러닝시장규모.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일 5 (국제유가)

In [481]:
global_oil = pd.read_csv("국제유가(WTI)_ITSTAT.csv",encoding='utf-8',index_col=0)
del global_oil['Unnamed: 24']

In [482]:
global_oil.drop(['1996년','1997년','1998년','1999년'],axis=1,inplace=True)

In [483]:
global_oil.columns=range(2000,2019)
global_oil=global_oil.T

In [485]:
oil_data=global_oil['원자료']
oil_value={"원자료":oil_data}
oil=pd.DataFrame(oil_value)
oil.sort_index(ascending=False,inplace=True)

        원자료
2018  64.90
2017  50.85
2016  43.47
2015  37.04
2014  53.22
2013  98.55
2012  92.38
2011  98.83
2010  91.38
2009  79.36
2008  44.60
2007  96.00
2006  61.05
2005  61.13
2004  43.45
2003  32.52
2002  31.20
2001  19.84
2000  26.80

In [486]:
oil.to_csv("국제유가.csv",index=True, header=True, encoding='utf-8')

In [ ]:
#  파일 6 (고등교육이수율)

In [525]:
high=pd.read_csv("고등교육이수율_국가지표체계.csv",encoding='utf-8')
del high['Unnamed: 0']

In [526]:
high_edu=high.T

In [527]:
high_edu.columns=['고등교육이수율']

In [528]:
high_edu.sort_index(ascending=False,inplace=True)

In [529]:
high_edu.to_csv("고등교육이수율.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일 7(1인당 주거면적 )

In [542]:
area=pd.read_csv("1인당주거면적_국가지표체계.csv",encoding='utf-8',index_col=0)

In [543]:
del area['Unnamed: 1']

In [544]:
area=area.T
area.sort_index(ascending=False,inplace=True)

In [546]:
area_data=area["전국"]
area_value={"1인당주거면적":area_data}
live_area=pd.DataFrame(area_value)
live_area

      1인당주거면적
2018     31.7
2017     31.2
2016     33.2
2014     33.5
2012     31.7
2010     28.5
2008     27.8
2006     26.2

In [548]:
live_area.to_csv("1인당주거면적.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일 8(사회단체참여율 )

In [756]:
association=pd.read_csv("사회단체참여율_국가지표체계.csv",encoding='utf-8',index_col=0)
del association['1999']
del association['2019']
association=association.T

In [757]:
data_ass=association['참여율(%)']
value_ass={'사회단체참여율': data_ass}
associ=pd.DataFrame(value_ass)
associ

     사회단체참여율
2003    44.8
2006    38.8
2009    39.8
2011    46.6
2013    50.1
2015    48.9
2017    49.7

In [758]:
associ.sort_index(ascending=False,inplace=True)

In [759]:
associ.to_csv("사회단체참여율.csv",index=True, header=True, encoding='utf-8')

In [ ]:
# 파일 9( 대외교역:수입수출)

In [629]:
export=pd.read_csv("대외교역(수출입)_ITSTAT.csv",encoding='utf-8',index_col=0)

In [630]:
export.drop(['1996년','1997년','1998년','1999년'],axis=1,inplace=True)
del export['Unnamed: 24']

In [631]:
export.columns=range(2000,2019)

In [632]:
export=export.T

In [633]:
export.drop(['증감률','증감률','수지'],axis=1,inplace=True)

In [634]:
export.columns=['수출','수입','없다']
del export['없다']

In [635]:
export.sort_index(ascending=False,inplace=True)

In [636]:
export.to_csv("수입수출.csv",index=True, header=True, encoding='utf-8')

In [676]:
export

               수출           수입
2018  604859657.0  535202428.0
2017  573694421.0  478478296.0
2016  495425940.0  406192887.0
2015  526756503.0  436498973.0
2014  572664607.0  525514506.0
2013  559632434.0  515585515.0
2012  547869792.0  519584473.0
2011  555213656.0  524413090.0
2010  466383762.0  425212160.0
2009  363533561.0  323084521.0
2008  422007328.0  435274737.0
2007  371489086.0  356845733.0
2006  325464848.0  309382632.0
2005  284418743.0  261238264.0
2004  253844672.0  224462687.0
2003  193817443.0  178826657.0
2002  162470528.0  152126153.0
2001  150439144.0  141097821.0
2000  172267511.0  160481015.0

In [ ]:
#파일10 (GDP)

In [666]:
GDP=pd.read_csv("GDP여러가지_ITSTAT.csv",encoding='utf-8',index_col=0)

In [667]:
del GDP['Unnamed: 20']
gdp=GDP.T

In [668]:
gdp.columns=['실질국내총생산(GDP)','A','B','C']

In [669]:
gdp.drop(['A',"B","C"],axis=1,inplace=True)
gdp.index=range(2000,2019)

In [671]:
gdp.sort_index(ascending=False,inplace=True)

In [673]:
gdp.to_csv("GDP.csv",index=True, header=True, encoding='utf-8')

In [ ]:
#associ, export,gdp , live_area, high_edu,   
# oil, e_learn, leisure,GINI, multi_cul

In [ ]:
#데이터 합치기

In [760]:
associ.index=associ.index.astype('int64')

In [797]:
data1=pd.merge(associ, export, how='outer',left_index=True, right_index=True)

In [800]:
data2=pd.merge(data1, gdp,how='outer',left_index=True, right_index=True)

In [806]:
live_area.index=live_area.index.astype('int64')

In [807]:
data3=pd.merge(data2, live_area, how='outer',left_index=True, right_index=True)

In [810]:
high_edu.index=high_edu.index.astype('int64')

In [811]:
data4=pd.merge(data3, high_edu, how='outer',left_index=True, right_index=True)

In [815]:
data5= pd.merge(data4, oil, how='outer',left_index=True, right_index=True)

In [817]:
data6= pd.merge(data5, e_learn, how='outer',left_index=True, right_index=True)

In [819]:
leisure.index=leisure.index.astype('int64')

In [820]:
data7=pd.merge(data6, leisure,how='outer',left_index=True, right_index=True)

In [823]:
data8=pd.merge(data7,GINI,how='outer',left_index=True, right_index=True)

In [825]:
multi_cul.index=multi_cul.index.astype('int64')

In [826]:
eunmin=pd.merge(data8, multi_cul , how='outer',left_index=True, right_index=True)

In [831]:
eunmin.to_csv("eunmin.csv",index=True, header=True, encoding='utf-8')

,Unnamed: 0,사회단체참여율,수출,수입,실질국내총생산(GDP),1인당주거면적,고등교육이수율,원자료,e러닝시장규모,문화여가지출률,지니계수,다문화출생아수
0,2000,NaN,172267511.0,160481015.0,NaN,NaN,23.9,26.80,NaN,NaN,NaN,NaN
1,2001,NaN,150439144.0,141097821.0,947394.8,NaN,24.2,19.84,NaN,NaN,NaN,NaN
2,2002,NaN,162470528.0,152126153.0,1020582.4,NaN,26.0,31.20,NaN,NaN,NaN,NaN
3,2003,44.8,193817443.0,178826657.0,1052703.1,NaN,29.5,32.52,1077041.0,NaN,NaN,NaN
4,2004,NaN,253844672.0,224462687.0,1107416.2,NaN,30.5,43.45,1298484.0,NaN,NaN,NaN
5,2005,NaN,284418743.0,261238264.0,1155129.7,NaN,31.6,61.13,1470817.0,NaN,NaN,NaN
6,2006,38.8,325464848.0,309382632.0,1215939.5,26.2,32.9,61.05,1617797.0,4.16,NaN,NaN
7,2007,NaN,371489086.0,356845733.0,1286458.5,NaN,34.6,96.00,1727057.0,4.13,NaN,NaN
8,2008,NaN,422007328.0,435274737.0,1325219.3,27.8,36.6,44.60,1870475.0,4.00,NaN,13443.0
9,2009,39.8,363533561.0,323084521.0,1335724.3,NaN,38.7,79.36,2091033.0,4.04,NaN,19024.0
10,2010,NaN,466383762.0,425212160.0,1426618.0,28.5,39.7,91.38,2245833.0,4.25,NaN,20312.0
11,2011,46.6,555213656.0,524413090.0,1479198.4,NaN,40.4,98.83,2451364.0,4.13,0.418,22014.0
12,2012,NaN,547869792.0,519584473.0,1514736.6,31.7,41.7,92.38,2747766.0,4.20,0.411,22908.0
13,2013,50.1,559632434.0,515585515.0,1562673.6,NaN,43.1,98.55,2947083.0,4.28,0.401,21290.0
14,2014,NaN,572664607.0,525514506.0,1612717.5,33.5,44.6,53.22,3214167.0,4.35,0.397,21174.0
15,2015,48.9,526756503.0,436498973.0,1658020.4,NaN,45.5,37.04,3485119.0,4.44,0.396,19729.0
16,2016,NaN,495425940.0,406192887.0,1706880.3,33.2,46.9,43.47,3487574.0,4.53,0.402,19431.0
17,2017,49.7,573694421.0,478478296.0,1760811.5,31.2,47.7,50.85,3699183.0,5.27,0.406,18440.0
18,2018,NaN,604859657.0,535202428.0,1807735.9,31.7,49.0,64.90,3845009.0,5.76,0.402,18079.0